PyYAML==5.3
apache-airflow==1.10.7
alembic==1.2.1
amqp==2.5.1
aniso8601==7.0.0
APScheduler==3.6.1
asn1crypto==1.1.0
astroid==2.3.1
atomicwrites==1.3.0
attrs==19.2.0
Automat==0.7.0
Babel==2.7.0
beautifulsoup4==4.8.1
billiard==3.6.1.0
blinker==1.4
cachetools==3.1.1
celery==4.3.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
constantly==15.1.0
cryptography==2.7
cssselect==1.1.0
enum34==1.1.6
et-xmlfile==1.0.1
feedparser==5.2.1
Flask==1.1.1
Flask-Admin==1.5.3
Flask-Assets==0.12
Flask-Babel==0.12.2
Flask-BabelEx==0.9.3
Flask-Compress==1.4.0
Flask-Cors==3.0.8
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Principal==0.4.0
flask-restplus==0.13.0
Flask-Security==3.0.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
fuzzywuzzy==0.17.0
GeoAlchemy2==0.6.3
google==2.0.2
google-api-core==1.14.3
google-auth==1.6.3
google-cloud==0.34.0
google-cloud-core==1.0.3
google-cloud-language==1.3.0
google-cloud-translate==1.7.0
googleapis-common-protos==1.6.0
googlemaps==3.1.3
graphene==2.1.8
graphene-sqlalchemy==2.2.2
graphql-core==2.2.1
graphql-relay==2.0.0
grpcio==1.24.1
gunicorn==19.9.0
hyperlink==19.0.0
idna==2.8
importlib-metadata==0.23
incremental==17.5.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.3
jsonschema==3.1.1
kombu==4.6.5
lazy-object-proxy==1.4.2
lxml==4.4.1
Mako==1.1.0
MarkupSafe==1.1.1
marshmallow==3.2.2
mccabe==0.6.1
more-itertools==7.2.0
newrelic==5.2.1.129
numpy==1.17.2
openpyxl==3.0.0
packaging==19.2
pandas==0.25.1
parsel==1.5.2
passlib==1.7.1
pluggy==0.13.0
promise==2.2.1
protobuf==3.10.0
psycopg2-binary==2.8.3
py==1.8.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pylint==2.4.2
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyproj==2.4.0
pyrsistent==0.15.5
pytest==5.2.1
pytest-base-url==1.4.1
pytest-html==2.0.0
pytest-metadata==1.8.0
pytest-selenium==1.17.0
pytest-variables==1.8.0
python-dateutil==2.8.0
python-editor==1.0.4
python-http-client==3.2.1
pytz==2019.3
queuelib==1.5.0
rauth==0.7.3
redis==3.3.11
requests==2.22.0
rsa==4.0
Rx==1.6.1
Scrapy==1.7.3
selenium==3.141.0
sendgrid==6.1.0
service-identity==18.1.0
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.9.4
speaklater==1.3
SQLAlchemy==1.3.10
Twisted==19.7.0
typed-ast==1.4.0
tzlocal==2.0.0
urllib3==1.25.6
URLObject==2.4.3
vine==1.3.0
w3lib==1.21.0
wcwidth==0.1.7
webassets==0.12.1
Werkzeug==0.16.0
wrapt==1.11.2
WTForms==2.2.1
xlrd==1.2.0
yuicompressor==2.4.8
zipp==0.6.0
zope.interface==4.6.0
